<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <!-- Mode : 運作模式，可設定的值 :
          debug = 偵錯模式，程式中會輸出的 Console 的偵錯資訊也會寫入到 LogFile 中
          (空字串) 或 online = 一般模式，程式中會輸出到 Console 的偵錯資訊 "不會" 寫到 LogFile 中
      -->
      <add key="Mode" value="debug" />
      <!-- IIS_Log_Path : IIS 存放 logs 的路徑，會往下遞迴搜尋 -->
      <add key="IIS_Log_Path" value="C:\Users\neochang.HKXF\Downloads\logs" />
      <!-- PreserveDays : (非必要，預設 60 天) 要保留紀錄的天數 -->
      <add key="PreserveDays" value="30" />
      <!-- BackupStagePath : (非必要) 超過保留天數的紀錄，會先搬移到此設定值所指定的路徑，再等候 30 天後，就進行實體刪除
                             如果不想進行保留，此設定值保留空白即可 -->
      <add key="BackupStagePath" value=""/>
    </appSettings>
</configuration>